@font-face {
  font-family: Be Vietnam;
  src: url(https://fonts.google.com/specimen/Be+Vietnam);
}

:root {
  /* primary */

  --brightred: hsl(12, 88%, 59%);
  --darkblue: hsl(228, 39%, 23%);

  /* neutral */

  --darkgreyblue: hsl(227, 12%, 61%);
  --verydarkblue: hsl(233, 12%, 13%);
  --palered: hsl(13, 100%, 96%);
  --lightgray: hsl(0, 0%, 98%);
}

/* reset formatting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 16px;
  font-family: Be Vietnam;
}

.topnav {
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
  position: relative;
}

.topnav .myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  color: white;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--brightred);
}
