@font-face {
  font-family: Be Vietnam Pro;
  src: url(https://fonts.google.com/specimen/Be+Vietnam+Pro);
}

:root {
  /* primary */

  --brightred: hsl(12, 88%, 59%);
  --darkblue: hsl(228, 39%, 23%);

  /* neutral */

  --darkgreyblue: hsl(227, 12%, 61%);
  --verydarkblue: hsl(233, 12%, 13%);
  --palered: hsl(13, 100%, 96%);
  --lightgray: hsl(0, 0%, 98%);
}

/* reset formatting + font */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Be Vietnam Pro", sans-serif;
  box-sizing: border-box;
}

body {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.textsect2 h4,
.numberlist h4,
.reviews h4 {
  color: var(--darkblue);
}

p {
  color: var(--darkgreyblue);
}

.topnav img {
  margin-top: 2.5rem;
  height: 22px;
  cursor: pointer;
  z-index: 1;
}

/* hamburger menu */
#menu-toggle {
  opacity: 0;
}

#menu-toggle:checked + .menu-btn > span {
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu-toggle:checked + .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-box {
  right: 2.6rem !important;
}

.menu-btn {
  position: fixed;
  top: 3rem;
  right: 2rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 9;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--darkblue);
  transition-duration: 0.25s;
}

.menu-btn > span::before {
  content: "";
  top: -8px;
}

.menu-btn > span::after {
  content: "";
  top: 8px;
}

.menu-box {
  display: block;
  position: fixed;
  top: 8.5rem;
  right: -100%;
  width: 400px;
  height: 300px;
  padding: 2.65rem 0;
  list-style: none;
  background-color: white;
  box-shadow: 0px 20rem 100rem 10rem rgba(35, 35, 49, 0.25);
  transition-duration: 0.35s;
  border-radius: 1.5%;
  z-index: 10;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: var(--darkblue);
  font-weight: 600;
  text-align: center;
  transition-duration: 0.25s;
}
.menu-item:hover {
  background-color: var(--lightgray);
}

/* banner images */
.mainbanner .bannerimg {
  margin-top: 2rem;
  z-index: 5;
}

.mainbanner .bannerimg img:first-child {
  position: absolute;
  right: -6rem;
  top: -6rem;
  width: 45rem;
  z-index: 3;
}

.mainbanner .bannerimg img:last-child {
  position: relative;
  right: 0rem;
  top: 0rem;
  width: 45rem;
  z-index: 4;
}

/* title text section + 1st button */
.mainbanner .textsect,
.textsect2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

.mainbanner .textsect h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--darkblue);
  padding-bottom: 1rem;
}

.mainbanner .textsect p {
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 22px;
  line-height: 1.75rem;
}

.mainbanner .textsect {
  padding-bottom: 2rem;
}

.mainbanner .firstbutton {
  background: var(--brightred);
  padding: 1rem;
  margin-top: 2rem;
  height: 3rem;
  width: 9rem;
  color: white;
  border-radius: 50px;
  box-shadow: 0px 5px 1rem 0.1px var(--brightred);
  cursor: pointer;
  text-align: center;
}

.mainbanner .textsect img {
  position: absolute;
  right: -19rem;
  top: 32.5rem;
  width: 45rem;
  z-index: -1;
}

/* second section */
.secondpart {
  margin-top: 6em;
}

.secondpart .textsect2 h2 {
  font-size: 42px;
  font-weight: 700;
  color: var(--darkblue);
  padding-bottom: 1rem;
}

.secondpart .textsect2 p {
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 18px;
  line-height: 1.75rem;
  padding-bottom: 4rem;
}

/* 1-3 list section */
.numberlist p {
  color: var(--darkgreyblue);
  line-height: 1.5rem;
}

/* one */
.one .one-top,
.two .two-top,
.three .three-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: center;
  gap: 1rem;
  margin-right: -2.5rem;
  background: var(--palered);
  border-radius: 50px 0px 0px 50px;
}

.one .one-button,
.two .two-button,
.three .three-button {
  background: var(--brightred);
  padding: 0.75rem;
  height: 2.5rem;
  width: 4rem;
  color: white;
  border-radius: 50px;
  text-align: center;
}

.one p,
.two p,
.three p {
  padding-top: 1rem;
  padding-bottom: 3.5rem;
}

/* reviews */

.reviews h2 {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  color: var(--darkblue);
  padding-top: 2rem;
  padding-bottom: 3.5rem;
}

.reviews .review-slider {
  position: relative;
  text-align: center;
}

.reviews .review-slider img {
  padding-bottom: 1.5rem;
  width: 25%;
}

.reviews .review-slider p {
  line-height: 1.5rem;
}

.reviews .review-slider h4 {
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
}

.reviews .review-slider .firstrev img,
.reviews .review-slider .secondrev img,
.reviews .review-slider .thirdrev img,
.reviews .review-slider .fourthrev img {
  position: absolute;
  top: 2.5rem;
  left: 11rem;
}

.reviews .review-slider .firstrev {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--lightgray);
  padding: 1rem 3rem 3rem 3rem;
  margin-bottom: 3rem;
}

.reviews .review-slider .secondrev {
  position: relative;
  background: var(--lightgray);
  padding: 1rem 3rem 3rem 3rem;
  margin-bottom: 3rem;
}

.reviews .review-slider .thirdrev {
  position: relative;
  background: var(--lightgray);
  padding: 1rem 3rem 3rem 3rem;
  margin-bottom: 3rem;
}

.reviews .review-slider .fourthrev {
  position: relative;
  background: var(--lightgray);
  padding: 1rem 3rem 3rem 3rem;
  margin-bottom: 3rem;
}

/* second button */

.secondbutton {
  text-align: center;
  background: var(--brightred);
  padding: 1rem;
  height: 3rem;
  width: 9rem;
  color: white;
  border-radius: 50px;
  box-shadow: 0px 5px 1rem 0.1px var(--brightred);
  cursor: pointer;
  text-align: center;
  margin: 0 auto 5rem;
}

/* orange bar */
.orangebanner {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  background: var(--brightred);
  padding-top: 7rem;
  padding-bottom: 6rem;
}

.orangebanner h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--darkblue);
  padding: 0rem 4rem 0rem 4rem;
  color: var(--lightgray);
  z-index: 7;
}

.orangebanner .bgshape {
  position: absolute;
  left: -24rem;
  bottom: -137rem;
  width: 33rem;
  opacity: 10%;
  z-index: 0;
}

.orangebanner .orangebutton {
  background: var(--lightgray);
  padding: 1rem;
  height: 3rem;
  width: 9rem;
  color: var(--brightred);
  border-radius: 50px;
  box-shadow: 0px 5px 1rem 0.1px var(--brightred);
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
}

/* footer */

footer {
  background: var(--verydarkblue);
  padding-top: 4rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

/* signup form */

.rightfoot .signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 3.25rem;
  margin-right: 3.25rem;
  gap: 1em;
}

.rightfoot .signup form {
  background: var(--lightgray);
  padding: 1rem;
  height: 3.5rem;
  width: 18rem;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
}

input[type="text"],
select,
textarea {
  width: 100%;
  border: 0px;
  padding-top: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

input[type="submit"],
select,
textarea {
  background: var(--brightred);
  padding: 1rem;
  padding-top: 1.1rem;
  height: 3.5rem;
  width: 7rem;
  color: var(--lightgray);
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  border: none;
  font-weight: 700;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--brightred);
}

@media screen and (orientation: landscape) {
}
